 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); 

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
 }

 .toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    background: white url(menu3.png);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
 }

 .toggle.active {
   background: white url(close1.png);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
 }

 section {
   padding: 150px;
   min-height: 100vh;
 }

 .banner {
   position: relative;
   width: 100%;
   min-height: 70vh;
   margin-top: 50px;
 }

.banner .sidebarImg {
   position: absolute;
   top: 0;
   left: 0;
   width: 500px;
   height: 100vh;
}

.banner .sidebarImg img {
   position: absolute;
   top: 0;
   left: 0;
   height: 65%;
   width: 80%;
   object-fit: cover;
   box-shadow: 2px 6px 4px 0 #29ecbc;
   margin-left: 20px;
}

.banner .contentBx, .sidebar {
   position: absolute;
   top: 0;
   right: 0;
   width: calc(100% - 450px);
   height: 100%;
   display: flex;
   justify-content: center;
   align-self: center;
   padding: 90px;
}

.logoText {
   position: absolute;
   top: 20px;
   left: 100px;
   font-size: 1.4em;
   text-transform: uppercase;
   letter-spacing: 1px;
   background:  #333;
   color: #fff;
   padding:8px 25px;
   margin-bottom: 40px;
}

.banner .contentBx h4 {
   font-size: 1.5em;
   color: #333;
   font-weight: 400;
}

.banner .contentBx h4 span {
   color: #29ecbc;
   font-size: 1.5em;
   font-weight: 700; 
}

.banner .contentBx h2 {
   font-size: 3em;
   color: #333;
   line-height: 1em;
}

p {
   font-size: 1.1em;
   margin: 20px 0;
   font-weight: 300;
}

.btn {
   box-shadow: 2px 6px 4px 0;
   background: #29ecbc;
   color: #333;
   padding: 8px 15px;
   display: inline-block;
   text-decoration: none;
   font-weight: 500;
   letter-spacing: 2px;
   border-radius: 4px;
}

.btn:hover {
   color: #fff;
   background-color: #333;
   transition: 0.8 ease;
}

.sidebar {
   position: fixed;
   background: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
   padding: 40px;
   z-index: 100;
   right: -100%;
}

.sidebar.active {
   right: 0;
}

.sidebar ul {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.sidebar ul li {
   list-style: none;
}

.sidebar ul li a {
   color: #fff;
   text-decoration: none;
   font-size: 2em;
   margin: 10px 0;
   font-weight: 400;
   letter-spacing: 3px;
   text-transform: uppercase;
}

.sidebar ul li a:hover {
   color: #29ecbc;
}

.title {
   width: 100%;
   text-align: center;
   margin-top: 10px;
}

.title h2 {
   position: relative;
   color: #111;
   font-size: 1.8em;
   font-weight: 700;
   letter-spacing: 1px;
}

.title p {
   max-width: 700px;
   display: inline-block;
}

.title h2:before {
   content: '';
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: -10px;
   width: 100px;
   height: 4px;
   background: #000;
}

.title.white h2, 
.title.white p {
   color: #fff;
} 

.title.white h2::before {
   background: #fff;
}
.about {
   background-color: #333;
   margin-bottom: 40px;
}
 .about .content {
   display: flex;
   justify-content: space-between;
   margin-top: 100px;
}

.about .content .textBx {
   min-width: 49%;
   width: 49%;
   margin-top: 30px;
}

.about .content .textBx p {
   color: #fff;
}

.about .content .imgbx {
   margin-left: 40px;
}

.about .content .imgbx img {
   max-width: 100%;
   border-radius: 50%;
}

.services .content {
   margin-top: 100px;
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
}

.services .content .servicesBx {
   padding: 40px 20px;
   max-width: 300px;
   margin: 20px;
   transition: 0.5s;
   text-align: center;
   border-radius: 5px;
   box-shadow: 1px solid #333;
   background-color: #ebe9e9;
   cursor: pointer;
}

.services .content .servicesBx:hover {
   background: #000;
}

.services .content .servicesBx:hover img {
   filter: invert(1);
}

.services .content .servicesBx img {
   max-width: 25%;
   width: 200px;
   height: 20%;
   transition: 0.5%;
}

.services .content .servicesBx h2 {
   margin-top: 20px;
   margin-bottom: 10px;
   font-size: 20px;
   font-weight: 600;
   transition: 0.5s;
}

.services .content .servicesBx p {
   margin: 0;
   transition: 0.5s;
   font-size: 18px;
}

.services .content .servicesBx:hover h2,
.services .content .servicesBx:hover p
 {
   color: #fff;
}

.works .content {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   margin-top: 100px;
}

.works .content .worksBx {
   position: relative;
   width: 300px;
   height: 380px;
   margin: 20px;
   transition: 0.5s;
   text-align: center;
   border: 10px solid #29ecbc;
   cursor: pointer;
}

.works .content .worksBx:hover {
   box-shadow: 1px 2px 2px 0;
}

.works .content .worksBx .imgBx,
.works .content .worksBx .textBx
 {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.works .content .worksBx .imgBx img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.works .content .worksBx .textBx {
   background: #111;
   opacity: 0;
   transition: 0.5s;
}

.works .content .worksBx:hover .textBx {
   opacity: 1;
}

.works .content .worksBx:hover .textBx h3 {
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 1em;
}

.contact {
   background: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.contact .contactForm {
   position: relative;
   width: 700px;
   margin-top: 100px;

}

.contact .contactForm .row {
   width: 100%;
   display: flex;
}

.contact .contactForm .row .col50 {
   width: 50%;
   margin: 10px;
}

.contact .contactForm .row .col100   {
   width: 100%;
   margin: 10px;
   text-align: center;
}

.contact .contactForm .row input, 
.contact .contactForm .row textarea 
{
   width: 100%;
   padding: 10px;
   border-radius: 4px;
   border: none;
   outline: none;
   color: #333;
   font-size: 16px;
   resize: none;
}

.contact .contactForm .row textarea {
   height: 300px;
   border-radius: 4px;
}

.contact .contactForm .row input[type="submit"] {
   background: #29ecbc;
   color: #111;
   padding: 10px 30px;
   display: inline-block;
   font-weight: 500;
   letter-spacing: 2px;
   border-radius: 4px;
   cursor: pointer;
}

.contact .contactForm .row:hover input[type="submit"] {
   color: #111;
   background: #fff;
   transition: 0.8 ease;
}

.jko_dev {
   color: #fff;
   background: #111;
   text-align: center;
   padding: 10px;
}

.jko_dev p {
   margin: 0;
   font-size: 20px;
}

@media (max-width: 991px)
{
   .banner .sidebarImg 
   {
      display: none;
   }
   .banner .contentBx, .sidebar
   {
      width: 100%;
      padding: 40px;
   }
   .logoText
   {
      position: absolute;
      top: 0;
      left: 40px;
   }
   .toggle
   {
      right: 40px ;
   }
   .sci 
   {
      left: 40px;
   }
   .section
   {
      padding: 40px;
   }
   .about .content
   {
      flex-direction: column;
      margin-top: 0;
   }
   .about .content .textBx
   {
      min-width: 100%;
      width: 100%;
   }
   .about .content .imgbx
   {
      margin-left: 0;
   }
   .services.content .servicesBx
   {
      padding: 30px 20px;
      max-width: 340px;
      margin: 10px;
   }
   .contactForm
   {
      width: 100%;
   }
   .contactForm .row
   {
      width: 100%;
   }
}